.loginButton {
  background-color: var(--login-button-background-color);
  background-image: var(--login-button-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 2px solid var(--login-button-border-color);
  color: var(--login-button-text);
  transition: background-color 0.3s ease;
}
.loginButton:hover {
  background-color: var(--login-button-background-hover-color);
}
.loginButton:focus {
  background-color: var(--login-button-background-active-color);
}
/* button xs */
.loginButtonXs {
  background-color: var(--login-button-background-color);
  background-image: var(--login-button-xs-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 2px solid var(--login-button-border-color);
  color: var(--login-button-text);
  transition: background-color 0.3s ease;
}
.loginButtonXs:hover {
  background-color: var(--login-button-background-hover-color);
}
.loginButtonXs:focus {
  background-color: var(--login-button-background-active-color);
}
